<div class="panel panel-primary">
    <div class="panel-heading">Search a book</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>